/*
 * Remove template code below
 */

.page {
  font-family: sans-serif;
  min-width: 24rem;
  max-width: 72rem;
  margin: 0 auto;
  background-color: #111111;
  color: white;
  min-height: 100vh;
}

.page :global(.gutter-left) {
  margin-left: 9px;
}

.page :global(.col-span-2) {
  grid-column: span 2;
}

.page :global(.flex) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page :global(header) {
  padding: 5px;
  border-radius: 3px;
}

.page :global(main) {
  padding: 0 36px;
}

.page :global(p) {
  text-align: center;
}

.page :global(h1) {
  text-align: center;
  margin-left: 2rem;
  font-size: 2rem;
}

.page :global(h2) {
  text-align: center;
  font-size: 20px;
  margin: 40px 0 10px 0;
}

.page :global(.resources) {
  text-align: center;
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 9px;
  grid-template-columns: 1fr 1fr;
}

.page :global(.resource) {
  color: #f2b705;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 3px 9px;
  text-decoration: none;
}

.page :global(.resource:hover) {
  background-color: rgba(68, 138, 255, 0.04);
}

.page :global(pre) {
  padding: 9px;
  border-radius: 4px;
  background-color: black;
  color: #eee;
}

.page :global(details) {
  border-radius: 4px;
  color: #bbbbbb;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 3px 9px;
  margin-bottom: 9px;
}

.page :global(summary) {
  outline: none;
  height: 36px;
  line-height: 36px;
}

.page :global(.github-star-container) {
  margin-top: 12px;
  line-height: 20px;
}

.page :global(.github-star-container a) {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.page :global(.github-star-badge) {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.page :global(.github-star-badge:hover) {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, 0.35);
  background-position: -0.5em;
}
.page :global(.github-star-badge .material-icons) {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}
